@page "{id}"
@model udganketo.Pages.VotacioModel
@{
    ViewData["Title"] = "Votació";
}

<h3>@Model.Item.question</h3>
<p>@Model.Item.description</p>

<form method="post">
    @foreach (var option in Model.Item.options)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" name="SelectedOptionId" id="@option.id" value="@option.id">
            <label class="form-check-label" for="@option.id">
                @option.name
            </label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @(option.votes / (Model.Item.options.Sum(opt => opt.votes) > 0 ? Model.Item.options.Sum(opt => opt.votes) : 1) * 100)%;" aria-valuenow="@(option.votes)" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span>@option.votes votes</span>
        </div>
    }
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Enviar resposta</button>
</form>
